body {
	font-size: 12px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #F5F8FA;
    overflow-y: scroll;
}

nav {
	width: calc( 100% - 30px );
	background-color: #1B1B1B;
	padding: 15px;
}

nav a {
	font-size: 160%;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 10px;
}

nav a:hover {
	color: #CDCDCD;
}

nav a:last-child {
	padding-right: 0px;
}

h1 {
	text-align: center;
	font-size: 260%;
	padding: 10px 0;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

form {
	width: 398px;
	vertical-align: top;
    border: solid 1px #e1e8ed;
    position: fixed;
    background-color: #FFFFFF;
	text-align: center;
	padding:5px 0;
}

.header {
	font-size: 170%;
	padding-bottom: 10px;
	color: #1DA1F2;
	width:100%;
	text-align: center;
	background-color: #FFFFFF;
}

.line {
	margin-bottom: 20px;
	width:100%;
	height: 8px;
	border-bottom: 1px solid #e1e8ed;
	text-align: center;
}

.or {
	font-size: 14px;
	background-color: #FFFFFF;
	padding: 0 10px;
	border: none;
}

#results {
	float:right;
	width: 500px;
}

form label, form input {
	font-size: 120%;
}

form input#submit {
	margin-left: 15px;
}
label.beforeInput {
	z-index: 1;
    position: relative;
}

input.label {
	padding-left: 15px;
	margin-left: -20px;
	z-index: 0;
    position: relative;
}

input.hashtag {	
	margin-left: -15px;
}

.fa-plus:hover {
	color: green;
}

.fa-plus, .fa-minus {
	padding-left: 2px;
}

.fa-minus:hover {
	color: red;
}
.tweet {
    width: 450px;
    background-color: white;
    padding: 5px;
    border: solid 1px #e1e8ed;
}

.pictures {
	width:50px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
}

.retweet i {
	color: #19CF86;
}

.retweet a {
	color: #444242;
	text-decoration: none;
}

.text .user a {
	text-decoration: none;
	color: #444242;
}

a:hover .underline {
	text-decoration: underline;
}

.retweet {
	margin-bottom: 4px;
}

.pictures .profile {
	width:50px;
}

.italic {
	font-style: italic;
}

.tweet .user {
	font-size: 130%;
}

.tweet .text {
	width: calc( 100% - 52px );
	margin-left: 2px;
	display: inline-block;
}

.tweet img.media {
	width: 400px;
	padding: 10px 25px;
}

.error {
	color: red;
	text-align: center;
}

.clear {
	clear: both;
	width:100%;
}

.tweet .time {
	display: inline-block;
	width:50%;
	text-align: right;
	color: #686868;
}

.tweet .link {
	display: inline-block;
	width: 50%;
	text-align: left;
	text-decoration: none;
	color: #1DA1F2;
}

.tweet .link:hover {
	color: #323333;
}

#cover {
    background: url("/images/ajax-loader.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0.7;
}

.normBut {
	background-color: #FFFFFF;
	border: none;
}