body {
	font-size: 12px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
	width: 100%;
	background-color: #1B1B1B;
	padding: 15px;
}

nav a {
	font-size: 160%;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 10px;
}

nav a:hover {
	color: #CDCDCD;
}

nav a:last-child {
	padding-right: 0px;
}

h1 {
	text-align: center;
	font-size: 260%;
	padding: 10px 0;
}

#container {
	padding: 20px;
}

form label, form input {
	font-size: 120%;
}

form input#submit {
	margin-left: 15px;
}

#results {
	margin: 10px;
}

.tweet {
    border: 2px solid #2E2E2E;
    width: 90%;
    margin-left: 5%;
    padding: 3px;
    margin-bottom: 5px;
}

.tweet .retweet {
	font-size: 130%;
	color: #19CF86;
}

.italic {
	font-style: italic;
}

.tweet .user {
	font-size: 130%;
	font
}

.tweet .text {
	padding-left: 5px;
	font-size: 110%;
}

.tweet img {
	width: 400px;
}

.tweet .time {
	display: inline-block;
	width:50%;
	text-align: right;
	color: #686868;
}

.tweet .link {
	display: inline-block;
	width: 50%;
	text-align: left;
	text-decoration: none;
	color: #1DA1F2;
}

.tweet .link:hover {
	color: #323333;
}