body {
	font-size: 12px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #e8e8e8;
}

nav {
	width: 100%;
	background-color: #1B1B1B;
	padding: 15px;
}

nav a {
	font-size: 160%;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 10px;
}

nav a:hover {
	color: #CDCDCD;
}

nav a:last-child {
	padding-right: 0px;
}

h1 {
	text-align: center;
	font-size: 260%;
	padding: 10px 0;
}

#container {
	padding: 20px;
}

form label, form input {
	font-size: 120%;
}

form input#submit {
	margin-left: 15px;
}

#results {
	margin: 10px;
}

.tweet {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5px;
    min-width: 450px;
    background-color: white;
}

.pictures {
	width:50px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
}

.retweet i {
	color: #19CF86;
}

.retweet a {
	color: #444242;
	text-decoration: none;
}

.text .user a {
	text-decoration: none;
	color: #444242;
}

a:hover .underline {
	text-decoration: underline;
}

.retweet {
	margin-bottom: 4px;
}

.pictures .profile {
	width:50px;
}

.italic {
	font-style: italic;
}

.tweet .user {
	font-size: 130%;
	font
}

.tweet .text {
	width: calc( 100% - 52px );
	margin-left: 2px;
	display: inline-block;
}

.tweet img {
	width: 400px;
}

.clear {
	clear: both;
	width:100%;
}

.tweet .time {
	display: inline-block;
	width:50%;
	text-align: right;
	color: #686868;
}

.tweet .link {
	display: inline-block;
	width: 50%;
	text-align: left;
	text-decoration: none;
	color: #1DA1F2;
}

.tweet .link:hover {
	color: #323333;
}

#cover {
    background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0.7;
}