extends layout

block body
	div(id='cover')
	section#container
		h1 Query Twitter
		form(onsubmit='submitted(); return false;')
			label Search for a user @
			input(type='text', name='user', id='user', placeholder='e.g. manutd')
			br
			label Search for a hashtag or keyword 
			input(type='button', value='Add Search Term', id='addBtn')
			div(id='searchContainer')
			select(name='andor' id='andor')
				option(value='%20AND%20') AND
				option(value='%20OR%20') OR
			input(type='submit' id='submit')
		div#results