extends layout

block body
	div(id='cover')
	section#container
		form(onsubmit='submitted(); return false;')
			div(id='searchHeader') Search Options
			div(id='user')
				input(type='checkbox' checked id='userSearch')
				label Search for a user @
				input(type='text', id='username', placeholder='e.g. manutd')
				br
				input(type='checkbox' checked id='replies')
				| Include Replies?
			div(class='line')
				select(class='or' name='userandorsearch')
					option(value='%20OR%20') OR
					option(value='%20AND%20') AND
			div(id='keywords')
				input(type='checkbox' checked id='keywordSearch')
				label Search for a hashtag or keyword:
				select(name='andor' id='searchtermsandor' class='normBut')
					option(value='%20AND%20') AND
					option(value='%20OR%20') OR
				div(id='searchContainer')
				input(type='button' value='Add a Search Term' id='addBtn')
			br
			input(type='submit' id='submit')
		div#results