extends layout

block body
	section#container
		h1 Query Twitter
		form(onsubmit='submitted(); return false;')
			label Search for a user @
			input(type='text', name='user', id='user', placeholder='e.g. manutd')
			input(type='submit' id='submit')
		div#results