extends layout

block body
	section.body
		.jumbotron
			.container
				h1 Query Twitter
				br
				p #{title}
				br

				form(action='/', method='POST')
					input(type='text', name='querybox1', id='querybox1')
					br
					br
					input(type='submit')