<!DOCTYPE html>
<html>
<head>
	<title>Intelligent Web App</title>
	<link href="http://meyerweb.com/eric/tools/css/reset/reset.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="/javascript/ajax.js"></script>
	<script src="/javascript/addbox.js"></script>
</head>
<body>
	<nav><a href="/">Intelligent Web App</a>
	</nav>
	<div id="cover"></div>
	<section id="container">
		<form onsubmit="submitted(); return false;">
			<div class="header">Search Options</div>
			<div class="line">
				<span class="or">
					<input type="checkbox" checked id="userSearch">
					Team
				</span>
			</div>
			<div id="user">
				<label class="beforeInput">Search for a team @</label>
				<input type="text" required id="username" class="label" placeholder="manutd"><br>
				<input type="checkbox" checked id="mentions">Include Mentions?
			</div>
			<div class="line">
				<span class="or">Players
				<select id="userandorplayer" class="normBut">
					<option value="OR">OR</option>
					<option value="AND">AND</option>
				</select>
				</span>
			</div>
			<div class="line">
				<span class="or">
				<input type="checkbox" checked id="hashtagSearch">
				Hashtag
				<select id="playerandorhashtag" class="normBut">
					<option value="OR">OR</option>
					<option value="AND">AND</option>
				</select>
				</span>
			</div>
			<div id="keywords">
				<label>Search for a hashtag:</label>
				<select name="andor" id="hashtagandor" class="normBut">
					<option value="AND">AND</option>
					<option value="OR">OR</option>
				</select>
				<div id="searchContainer">
					<div><label class='beforeInput'>#</label><input type='text' class='label hashtag' name='hashtagBox' id='search_terms' placeholder='ManUtdVArsenal' required/><i class='fa fa-plus fa-lg' id='addBtn'></i></div>
				</div>
			</div>
			<div class="line">
				<span class="or">Keywords
				<select id="hastagandorsearch" class="normBut">
					<option value="OR">OR</option>
					<option value="AND">AND</option>
				</select>
				</span>
			</div>
			<input type="submit" id="submit">
		</form>
		<div id="results"></div>
	</section>
</body>
</html>