extends layout

block body
	div(id='cover')
	section#container
		form(onsubmit='submitted(); return false;')
			div(class='header') Search Options
			div(id='user')
				input(type='checkbox' checked id='userSearch')
				label Search for a user @
				input(type='text', required, id='username', placeholder='e.g. manutd')
				br
				input(type='checkbox' checked id='mentions')
				| Include Mentions?
			div(class='line')
				select(class='or' id='userandorsearch')
					option(value='OR') OR
					option(value='AND') AND
			div(id='keywords')
				input(type='checkbox' checked id='keywordSearch')
				label Search for a hashtag or keyword:
				select(name='andor' id='searchtermsandor' class='normBut')
					option(value='AND') AND
					option(value='OR') OR
				div(id='searchContainer')
					input(type='text', name='search_terms' id='search_terms' placeholder='i.e. #paul or hello' required)
				input(type='button' value='Add a Search Term' id='addBtn')
			br
			input(type='submit' id='submit')
		div#results