doctype html
html
	head
		title Intelligent Web App
		link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
		link(href='stylesheets/style.css', rel='stylesheet')
	body
		nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
			.container-fluid
				.navbar-header
					a.navbar-brand(href='index.html') Intelligent Web App
		block body
		footer.footer
			.container.text-center
				ul.list-inline.footer-icons
					li
						a(href='twitter.com')
							i.fa.fa-twitter.fa-2x