<!DOCTYPE html>
<html>
<head>
	<!--Set the title-->
	<title>Intelligent Web App</title>
	<!--Add author-->
	<meta content="Paul MacDonald, Ross Millward, Alex Burley" name="author">
	<!--Get Stylesheets-->
	<link href="http://meyerweb.com/eric/tools/css/reset/reset.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/stylesheets/main.css" rel="stylesheet">
	<!--Get javascripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYbcjgIyTc7xpZ8DZ_U2bSoQYI6J9W-hs"></script>
	<script src="/javascript/ajaxTwitter.js"></script>
	<script src="/javascript/ajaxReport.js"></script>
	<script src="/javascript/searchOptions.js"></script>
	<script src="/javascript/images.js"></script>
	<script src="/javascript/tabs.js"></script>
	<script src="/javascript/analysis.js"></script>
	<script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>
</head>

<body>
	<!--Loading cover-->
	<div id="cover">
	</div>

	<!--Open menu section-->
	<section id="menu">
		<h1>Hello!</h1>


		<h2>Would you like to perform a Twitter Search or generate a Football
		Report?</h2>

		<!--Buttons-->
		<div id="buttons">
			<div class="menuBtn" id="twitterBtn">
				<i aria-hidden="true" class="fa fa-twitter fa-lg"></i> Twitter Search
			</div>


			<div class="menuBtn" id="reportBtn">
				<i aria-hidden="true" class="fa fa-futbol-o fa-lg"></i> Football Report
			</div>
		</div>
	</section>

	<!--Open twitter section-->
	<section id="twitter">
		<!--Include menu buttons-->
		<div id="menuBtn">
			<i aria-hidden="true" class="fa fa-bars"></i> Back to Menu
		</div>
		<div id="hideSearchBtn">
			<i class='fa fa-minus fa-lg'></i> hide the search bar
		</div>

		<!--Search form area-->
		<article id="searchFields">
			<h1>Search Options<br>
			<select id="andOrToggle">
				<option value="OR">
					OR
				</option>

				<option value="AND">
					AND
				</option>
			</select></h1>


			<form id='twitterForm' name="twitterForm" onsubmit="return false;">
				<div class="searchSection" id="team">
					<h3><label><input checked class="enabler" id="teamSearch" type="checkbox">
					Team</label>
					</h3>
					<select id="teamSelect" required="required">
						<option disabled selected value="">
							Select Team
						</option>

						<option name='other' value='other'>
							Other...
						</option>
					</select><br>


					<div id="otherInput">
						<div class='prefix'>
							<span>@</span>
							<input id="teamInput" class='atPrefix' placeholder="manutd" type="text">
						</div>
					</div>
					<label><input checked id="mentions" type="checkbox">Include
					Mentions</label>
				</div>


				<div class="searchSection" id="players">
					<h3><label><input checked class="enabler" id="playersSearch" type=
					"checkbox"> Players</label>
					</h3>


					<div>
						<select id="playerSelect">
							<option disabled id="initial" selected value="">
								Select Player
							</option>
						</select>
					</div>


					<div class="searchContainer">
						<div class="searchInput">
							<div class='prefix'>
							<span>@</span>
							<input id='playerInput' class='atPrefix' placeholder=
							'WayneRooney' type='text'><i class='fa fa-plus fa-lg' id=
							'addBtn'></i><br>
							</div>
							<label><input checked id="playerMentions" type="checkbox">Include
							Mentions</label>
						</div>
					</div>
				</div>


				<div class="searchSection" id="hashtags">
					<h3><label><input checked class="enabler" id="hashtagSearch" type=
					"checkbox"> Hashtag</label>
					</h3>


					<div class="searchContainer">
						<div class="searchInput">
							<div class='prefix'>
							<span>#</span>
							<input id='hashtagInput' class='hashtagPrefix' 
							placeholder='ManUtdVArsenal' type='text'><i class='fa fa-plus fa-lg' id=
							'addBtn'></i>
							</div>
						</div>
					</div>
				</div>


				<div class="searchSection" id="keywords">
					<h3><label><input checked class="enabler" id="keywordSearch" type=
					"checkbox"> Keywords</label>
					</h3>


					<div class="searchContainer">
						<div class="searchInput">
							<input class='fullBox' id='keywordInput' placeholder='football' type=
							'text'><i class='fa fa-plus fa-lg' id='addBtn'></i>
						</div>
					</div>
				</div>
			</form>
			<label><input checked class="enabler" id="includeRT" type="checkbox">Include
			Retweets?</label><br>


			<div id="submitButtons">
				<span class="button" type="database"><i class="fa fa-database"></i> Query
				the Database</span> or <span class="button" type="twitter"><i class=
				"fa fa-twitter"></i> Query Twitter</span>
			</div>
		</article>

		<!--Results section-->
		<article class="flex" id="results">
			<div id='tweets'>
			</div>


			<div id='topUsers'>
			</div>


			<div class="columnRight">
				<div class="flex">
					<div id='topKeywords'>
					</div>


					<div id="topHashtags">
					</div>
				</div>


				<div id='map'>
				</div>
			</div>


			<div id='flickr'>
			</div>
		</article>

		<!--Tooltip-->
		<div id="tooltip">
		</div>
	</section>

	<!--Gallery-->
	<div id='gallery'>
		<div id="hideGallery">
			X
		</div>


		<div id='innerGallery'>
		</div>
	</div>

	<!--Report section-->
	<section id="report">
		<div id="menuBtn">
			<i aria-hidden="true" class="fa fa-bars"></i> Back to Menu
		</div>


		<article id="searchFields">
			<h1>Football Report</h1>


			<form id='reportForm' name="reportForm" onsubmit="return false;">
				<input class='fullBox' id='teamA' type='text' placeholder="Liverpool_F.C."> vs
				<input class='fullBox' id='teamB' type='text' placeholder="Manchester_City_F.C.">

				<div class="button" id="reportSubmit">
					Generate a Report
				</div>
			</form>
		</article>


		<article id='results'>
			<div id='reportCover'>
			</div>


			<div id='football'>
			</div>


			<div class='error'>
			</div>

			<!--Team A-->
			<div class='team flyOutLeft' id='teamA'>
				<h3>
				</h3>
				<input class="readMoreState" id='teamInfoReadMore_teamA' type="checkbox">

				<div class='teamInfo readMoreContainer'>
				</div>
				<label class='readMoreTrigger' for='teamInfoReadMore_teamA'></label>
				<input class="readMoreState" id='stadiumInfoReadMore_teamA' type=
				"checkbox">

				<div class='stadiumInfo readMoreContainer'>
				</div>
				<label class='readMoreTrigger' for='stadiumInfoReadMore_teamA'></label>

				<div class='managerInfo'>
				</div>


				<h4>Players</h4>


				<div class='playerInfo'>
				</div>
			</div>

			<!--Team B-->
			<div class='team flyOutRight' id='teamB'>
				<h3>
				</h3>
				<input class="readMoreState" id='teamInfoReadMoreB' type="checkbox">

				<div class='teamInfo readMoreContainer'>
				</div>
				<label class='readMoreTrigger' for='teamInfoReadMoreB'></label>
				<input class="readMoreState" id='stadiumInfoReadMoreB' type="checkbox">

				<div class='stadiumInfo readMoreContainer'>
				</div>
				<label class='readMoreTrigger' for='stadiumInfoReadMoreB'></label>

				<div class='managerInfo'>
				</div>


				<h4>Players</h4>


				<div class='playerInfo'>
				</div>
			</div>
		</article>
	</section>
</body>
</html>