extends layout

block body
	section.body
		.jumbotron
			.container
				h1 Query Twitter
				br
				p #{title}
				br

				form(action='/', method='POST')
					label Search for a user @
					input(type='text', name='user_search', id='user_search')
					br
					br
					input(type='submit')

				h1 Results

				for tweet in tweets
					div.tweetDiv
						b
							p #{tweet.user.name}
						p #{tweet.text}